footer {
	height: 10vh !important;
	cursor: default;
}

main {
	/*height: 90vh !important;*/
	margin-top: 10vh !important;
	margin-bottom: 20vh !important;
}

#letter-check {
	margin-top: 1rem;
	height: 100px;
	/*border: 1px solid black;*/
	display: flex;
	align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#guessed-letters {
	display: flex;
}

#guessed-letters > p {
	margin: 4px;
    /*border: 1px solid black;*/
    width: 75px;
    height: 50px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
    background-color: #26a69a;
    color: #ffffff;
    font-size: 30px;
}

#letter-check > p, #letter-correct > p {
	margin: 4px;
	border: 1px solid black;
	width: 30px;
	height: 25px;
	text-align: center;
	border-radius: 2px;
	font-weight: bold;
	background-color: #e0f2f1;
}

#letter-correct {
	margin-top: 1rem;
	height: 100px;
	/*border: 1px solid black;*/
	display: flex;
}

.guess-l {
	margin-top: 1rem;
}

#svg-img, #definitions {
	cursor: default;
}

#word {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#word li {
	margin-right: 1rem;
	font-size: 40px;
}

#guess-box {
	display: none;
	cursor: default;
}

nav .nav-wrapper {
	font-size: 45px;
}

nav {
	margin-top: 0px !important;
	height: 70px !important; 
	cursor: default;
}

header {
	top: 0px !important;
}

#score {
	/*font-size: 15px; */
	margin-top: 10px; 
	margin-right: 20px; 
	padding-right: 20px; 
	padding-left:10px; 
	cursor: default;
	/*border: 1px solid #000000;*/
}

#score > span {
	font-size: 20px;
	padding: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2.5px;
    cursor: default;
}